<!-- <h2>Click display button to show and hide content</h2>
<button (click)="onClick()">Display</button>
<div [hidden]="display">
  <h3>Project name: {{title}}</h3>
  <h4>{{message}}</h4></div> -->
<app-header (serchTextChange)="onSerchtext($event)"></app-header>
<app-product [inputSerchText]="serchText" (visibleflag)="onCardClick($event)" (arraylist)="productDetail($event)"
  (selectProd)="selectProduct($event)" #productList></app-product>
<app-product-detail [visible]="visible" (cardclick)="onCard($event)"  *ngIf="productList.selectedProduct" [productlistComp]="productList"></app-product-detail>
<!-- <app-product-detail [visible]="visible" (cardclick)="onCard($event)"
[productalllist]="productDetails" [productlistComp]="productList" [selectProduct]="selectProducts"></app-product-detail> -->